@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700;800;900&display=swap");

* {
  font-family: "Poppins", sans-serif;
}

.btn-submit:hover {
  background-color: #8cbba9;
  color: #08281c;
}

.p .text-links:hover {
  color: #ffffff;
}
